body {
  background-color: #252525;
}

/* Style the header */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Style the logo */
.logo {
  height: 100px;
}

/* Style the title */
.title {
  color :#f2f2f2;
  float: right;
  margin-left: 10px;
}

/* Style the chat container */
.chat-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  overflow-y: scroll;
}

/* Style the messages */
.chat-message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 70%;
}

/* Style the user's messages */
.user-message {
  background-color: lightblue;
  border-radius: 10px;
  float: right;
  text-align: right;
}

/* Style the chatbot's messages */
.chatbot-message {
  background-color: lightgray;
  border-radius: 10px;
  float: left;
  text-align: left;
}

/* Style the input field */
.chat-input {
  position: absolute;
  bottom: 5%;
  left: 25%;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}